footer {
  //background-color: #212121;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  min-height: 10vh;
  color: #ffffff;
  text-align: center;
  padding-top: 5px;
  margin: 0 50px 0 50px;

}

.copyright {
  font-weight: 100;
  color: #ffffff;
  margin-bottom:20px;
}