footer {
  background-color: #212121;
  min-height: 10vh;
  color: #ffffff;
  text-align: center;
  padding-top: 20px;
  margin: 0 50px 0 50px;

}

.copyright {
  font-weight: 100;
  font-size: 12px;
  color: #ffffff;
}