$color-secondary: #f9fafa;
$color-black: #212121;




form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    background-color: $color-secondary;
}



#button {
    background-color: $color-black;
    color: $color-secondary;
    border: none;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 3px;
}