$color-secondary: #f9fafa;
$color-black: #212121;




form {
    border: 1px solid $color-secondary;
    border-radius: 5px;
    padding: 40px;
    background-color: $color-black;
}



#button {
    background-color: #c2986f;
    font-size: 16px;
    color: $color-secondary;
    border: none;
    &:hover {
        background: #c7b17b;
      }
            &:active {
        background-color:#c7b17b;
        box-shadow: 0 5px rgb(119, 117, 116);
        transform: translateY(4px);
      }

}



input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
    border-radius: 3px;
}